/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #efece3;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #b7a261;
  border: 1px solid #b7a261;
}

@keyframes pulse {
  from { transform: scale(1); }
  50% { transform: scale(0.85); }
  to { transform: scale(1); }
}

.pulse-w-pause {
  animation-name: unset;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.pulse-w-pause:hover,
.pulse-w-pause:focus {
  animation-name: pulse;
}

.pulse-w-pause button {
  background-color: #efece3;
  color: #b7a261;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fff;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  background-color: #333;
  /*height: 100%; */
  /*min-height: 100%;*/
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
  background-image: url(./images/movies.JPG);
  background-size: cover;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.cover-heading, .lead {
  color: #efece3;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }

}
