

.jumbotron {
  background-image: url(./images/chairs.jpg);
  background-size: cover;
  margin-bottom: 0px;
}

.navbar {
  background-color: #efece3;
  padding-bottom: 0;
  padding-top: 10px;
}

.container {
  padding-top: 20px;
}

h1 {
  color: #efece3;
}

.content h1 {
  font-size: 24px;
}

.input {
  border-color: #b7a064;
}

.panel-block {
  border-bottom: 1px solid #b7a064;
  border-left: 1px solid #b7a064;
  border-right: 1px solid #b7a064;
}

.panel-block:first-child {
  border-top: 1px solid #b7a064;
}

label {
  font-size: 24px;
  padding: 15px;
  color: #b7a261;
}

.wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.tutorial {
  width: 600px;
  text-align: center;
  margin: auto;
}

button {
  background: #b7a261;
  padding: 5px;
  font-size: 12px;
  text-align: center;
  border: none;
  border-radius: 8px;
}

button:hover:enabled {
  background: #9b9b9b;
}

.content button {
  margin-bottom: 10px;
}

figure.image {
  display: flex;
  justify-content: center;
  background-color: black;
}

figure .image img {
  width: 128px;
}

.notification {
  margin-top: 20px !important;
}

.results {
  max-height: 500px;
  overflow-y: scroll;
}

.title .icon {
  margin-left: 15px;
}

.title {
  font-size: 24px;
}

.subtitle {
  font-size: 18px;
}

.hero {
  margin-bottom: 20px;
}

.forms {
  display: flex;
  justify-content: space-around;
}

.notification {
  background-color: #efece3;
}

.dropdown-item{
  display: flex;
  align-items: center;
  height: 60px;
}

.dropdown-item img {
  height: 50px;
  margin-right: 10px;
}

.details {
  padding-right: 20px;
}

#nominee-list {
  width: 100%;
}


li {
  padding: 20px;
  display: flex;
  align-items: center;
  height: 60px;
  border-radius: 12px;
}

li:hover {
  background-color: #b7a261;
  transition: .5s ease;
}

li:hover p span{
  display: none;
}

li:hover p:after{
  content: 'Use the search bar to add a movie';
  color: #efece3;
}

li p {
  font-style: italic;
  color: #9b9b9b;
}

.message-header {
  background-color: #b7a261;
}

.message-body {
  background-color: #eee;
}

.tune-in-social-links__image {
  height: 25px;
  width: 25px;
}

.navbar-brand {
  margin-right: 20px;
}

.card {
  border: 1px solid #b7a261;
  background-color: #efece3;
  margin-top: 20px;
}

.card-title {
  color: black;
  font-size: 24px;
}

.card-text {
  font-size: 18px;
}

.submit {
  padding: 10px;
  font-size: 18px;
  color: #efece3;
  margin-top: 20px;
}

.filled {
  animation: tada; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s;
}

.filled:hover {
  animation: pulse; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s;
}

.message {
  animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1.5s;
}

@media (max-width: 768px) {
  .card-title {
    font-size: 18px;
  }
  .card-text {
    font-size: 12px;
  }
  .navbar-brand {
    font-size: 14px;
  }
}